div#k-bar {
	position: fixed;
	top: 0;
	right: 0;
	padding: 1em;
	font-size: x-small;
}

@font-face {
    font-family: 'Edmunds';
    src: url('/application/edmunds-webfont.eot');
    src: url('/application/edmunds-webfont.eot?iefix') format('eot'),
         url('/application/edmunds-webfont.woff') format('woff'),
         url('/application/edmunds-webfont.ttf') format('truetype'),
         url('/application/edmunds-webfont.svg#webfontjWnXRSxI') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

h1 {
    font-weight: normal;
    font-family: Edmunds, "Times New Roman", serif;
}

a:link, a:visited {
    color: #442b17;
    text-decoration: underline;
}


#kobros-network {
    margin-top: 0.2em;  
}

.error {
    color: #FF0000;
    font-weight: bold;

}

html.layout img.float-primary {
    float: right;
    margin: 0 0 1em 1em;    
}

html.layout h2 {
    clear: both;    
}

div#copyright {
    font-size: small;
}
